---
import { type ImageMetadata } from 'astro';
import {Image} from "astro:assets"

interface Props {
    url: string;
    image: {
        url: ImageMetadata;
        alt: string;
    };
    title: string;
    body: string;
}

const { url, image, title, body } = Astro.props;
---
<li class="card">
    <a class="card__link" href={url}>
        <div class="center">
            <Image style={{ maxWidth: '100%', maxHeight:'127px', width:'auto', height: 'auto' }} class="pro-img" src={image.url} alt={image.alt} />
            <!-- <img class="card__img" width="226" height="127" src={image} alt="ProjectImage"> -->
        </div>
        <h3 class="card__title">
            {title}
        </h3>
        <p class="card__txt">
            {body}
        </p>
    </a>
</li>

