---
import BaseLayout from './Layout.astro';
const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
    <h2><a href={frontmatter.website} class="outer-link" target="_blank">{frontmatter.title}</a></h2>
    <div class="certificates">
        <h3>Certificates</h3>
        <div class="list">
            <ul>
                {frontmatter.certificates.map((certificate) => 
                    <li>
                        <span>
                            <a href={certificate.url} class="badge__link" target="_blank" >
                                {certificate.stack}
                            </a>
                        </span>
                    </li>
                )}
            </ul>
        </div>
    </div>
    <div class="certificate-text">
        <slot />
    </div>
</BaseLayout>

